<div class="matrix-wrapper">
    <table class="permission-table">
        <thead>
            <tr>
                <th class="col-function sticky-col">{{ 'permissionMatrix.table.resource' | translate }}</th>
                @for (col of columns; track col.key) {
                <th class="col-permission sticky-header">
                    <div class="header-content">
                        <span>{{ col.label | translate }}</span>
                    </div>
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (rows.length > 0) {
            @for (row of rows; track row.function; let i = $index) {
            <tr [class.row-alt]="i % 2 === 1" class="row-hover">
                <td class="col-function cell-function sticky-col">{{ row.function }}</td>
                @for (col of columns; track col.key) {
                <td class="col-permission cell-checkbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" [(ngModel)]="row[col.key]" (ngModelChange)="onPermissionChange()">
                        <span class="checkmark"></span>
                    </label>
                </td>
                }
            </tr>
            }
            } @else {
            <tr>
                <td [attr.colspan]="columns.length + 1" class="empty-cell">
                    <app-no-data [title]="'permissionMatrix.table.empty.title' | translate"
                        [message]="'permissionMatrix.table.empty.message' | translate"
                        [fullHeight]="false">
                        <span icon class="custom-icon-users permission-users-icon"></span>
                    </app-no-data>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>