<div class="sidebar-skeleton">
  <div class="skeleton-search">
    <div class="skeleton-search-input"></div>
    <div class="skeleton-search-btn"></div>
  </div>

  <div class="skeleton-list">
    <div class="skeleton-item active">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text">
        <div class="skeleton-line"></div>
        <div class="skeleton-line short"></div>
      </div>
      <div class="skeleton-arrow"></div>
    </div>
    <div class="skeleton-item">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text">
        <div class="skeleton-line"></div>
        <div class="skeleton-line short"></div>
      </div>
    </div>
    <div class="skeleton-item">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text">
        <div class="skeleton-line"></div>
        <div class="skeleton-line short"></div>
      </div>
    </div>
    <div class="skeleton-item">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text">
        <div class="skeleton-line"></div>
        <div class="skeleton-line short"></div>
      </div>
    </div>
  </div>
</div>
