<table class="notification-table">
    <thead>
        <tr>
            <th class="col-code">Mã thông báo</th>
            <th class="col-content">Nội dung</th>
            <th class="col-action">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @for (record of data; track record.id) {
        <tr>
            <td class="col-code">{{ record.code }}</td>
            <td class="col-content">{{ record.content }}</td>
            <td class="col-action">
                <button nz-button nzType="default" nzSize="small" class="edit-btn" (click)="onEdit(record)"
                    aria-label="Chỉnh sửa">
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>