<div class="checkin-skeleton">
  @if (!tableOnly) {
  <div class="skeleton-detail-header">
    <div class="skeleton-title"></div>
    <div class="skeleton-subtitle"></div>
    <div class="skeleton-badge"></div>
  </div>

  <div class="skeleton-tabs">
    <div class="skeleton-tab"></div>
    <div class="skeleton-tab"></div>
  </div>

  <div class="skeleton-action-bar">
    <div class="skeleton-section-title"></div>
    <div class="skeleton-actions">
      <div class="skeleton-search"></div>
      <div class="skeleton-button"></div>
    </div>
  </div>
  }

  <div class="skeleton-table">
    <div class="skeleton-table-header">
      <div class="skeleton-col w-20"></div>
      <div class="skeleton-col w-30"></div>
      <div class="skeleton-col w-15"></div>
      <div class="skeleton-col w-15"></div>
      <div class="skeleton-col w-10"></div>
    </div>
    <div class="skeleton-table-row">
      <div class="skeleton-col w-20"></div>
      <div class="skeleton-col w-30"></div>
      <div class="skeleton-col w-15"></div>
      <div class="skeleton-col w-15"></div>
      <div class="skeleton-col w-10"></div>
    </div>
    <div class="skeleton-table-row">
      <div class="skeleton-col w-20"></div>
      <div class="skeleton-col w-30"></div>
      <div class="skeleton-col w-15"></div>
      <div class="skeleton-col w-15"></div>
      <div class="skeleton-col w-10"></div>
    </div>
  </div>
</div>
