<header class="app-header" [style.padding]="paddingHeader" [class.header-minimal]="!showControls">
  <div class="header-left">
    <img class="logo" [src]="data.logo || 'assets/FPT-IS-Logo.png'" alt="Logo" />
  </div>

  @if(showControls) {
  <div class="header-right">
    <div class="icon-group">
      <div class="icon-box">
        <span class="custom-icon-search vanilla-icon"></span>
      </div>
      <app-notifications-dropdown [count]="data.notificationsCount || 0"></app-notifications-dropdown>
      <div class="icon-box">
        <span class="custom-icon-message vanilla-icon"></span>
      </div>
    </div>

    <app-user-profile-dropdown [data]="data" (logout)="onLogout()"></app-user-profile-dropdown>
  </div>
  }
</header>
