<div class="table-body-skeleton" [style.rowGap.px]="rowGap">
  @for (row of rowIndexes; track row) {
  <div class="table-body-skeleton__row" [style.minHeight.px]="rowHeight" [style.padding]="rowPadding"
    [style.gridTemplateColumns]="templateColumns">
    @for (cell of cells; track $index) {
    <div class="table-body-skeleton__cell-wrap" [style.justifyItems]="cellJustify(cell.align)">
      <div class="table-body-skeleton__cell" [style.width]="cell.width || '100%'" [style.height]="cell.height || '14px'"
        [style.borderRadius]="cell.radius || '8px'">
      </div>
    </div>
    }
  </div>
  }
</div>
