<div class="permission-matrix-skeleton">
  <div class="skeleton-header">
    <div class="skeleton-block wide"></div>
    <div class="skeleton-block"></div>
    <div class="skeleton-block"></div>
    <div class="skeleton-block"></div>
    <div class="skeleton-block"></div>
    <div class="skeleton-block"></div>
  </div>

  <div class="skeleton-body">
    @for (row of rows; track row) {
    <div class="skeleton-row">
      <div class="skeleton-line"></div>
      <div class="skeleton-checkbox"></div>
      <div class="skeleton-checkbox"></div>
      <div class="skeleton-checkbox"></div>
      <div class="skeleton-checkbox"></div>
      <div class="skeleton-checkbox"></div>
    </div>
    }
  </div>
</div>
