<div class="login-page">
    <div class="login-card">
        <h1 class="title">Đăng nhập</h1>

        <form (submit)="$event.preventDefault(); handleSubmit()" class="form-container">
            <div class="group-input">
                <app-shared-input-text headerInput="Tên đăng nhập" placeholder="Nhập tên đăng nhập" [required]="true"
                    [value]="username()" (valueChange)="username.set($event)"></app-shared-input-text>

                <app-shared-input-text headerInput="Mật khẩu" placeholder="Nhập mật khẩu" [required]="true"
                    [typeInput]="showPassword() ? 'text' : 'password'"
                    [icon]="showPassword() ? 'assets/icons/eye-off.svg' : 'assets/icons/eye.svg'"
                    (iconClick)="togglePassword()" [value]="password()"
                    (valueChange)="password.set($event)"></app-shared-input-text>
            </div>

            @if (error()) {
            <div class="error-wrapper">
                <app-error-message [message]="error()!"></app-error-message>
            </div>
            }

            <button type="submit" class="btn-login" [disabled]="checkInputRequired() || isLoading()">

                @if (isLoading()) {
                <span class="loading-state">
                    <i class="fas fa-spinner fa-spin"></i>
                    Đang xử lý...
                </span>
                } @else {
                Đăng nhập
                }
            </button>
        </form>

        <div class="footer">
            <a routerLink="forgot-password" class="link">Quên mật khẩu?</a>
            <p class="register-text">
                Chưa có tài khoản?
                <a routerLink="/register" class="link">Đăng kí</a>
            </p>
        </div>
    </div>
</div>