.login-page {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-card {
    width: 100%;
    max-width: 426px;
    padding: 36px 24px;
    background: var(--app-color-white-alpha-80);
    border-radius: 20px;
    box-shadow: 0px 0px 27.3px 11px var(--app-color-primary-glow);

    .title {
        color: var(--app-color-primary-hover);
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        font-weight: 700;
        margin: 0;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        .group-input {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        ::ng-deep app-shared-input-text {
            .label-text {
                color: var(--app-color-text-main) !important;
                font-weight: 500 !important;
            }

            input {
                height: 36px !important; // Điều chỉnh theo yêu cầu người dùng
            }
        }

        .btn-login {
            padding: 8px 0;
            height: 36px;
            border: none;
            border-radius: 8px;
            background: var(--app-color-primary);
            color: white;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;



            &:ver:not(:disabled) {
                background: var(--app-color-warning-hover);
                transition: all 0.3s;
                // transform: translateY(-1px);
            }

            &:disabled {
                background: var(--app-color-border-soft);
                color: var(--app-color-text-subtle);
                cursor: not-allowed;
            }

            .loading-state {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
            }
        }

    }

    .footer {
        margin-top: 8px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 12px;

        .link {
            color: var(--app-color-primary-hover);
            text-decoration: none;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }

        .register-text {
            margin: 0 !important;
            color: var(--app-color-text-666);
        }
    }
}