<div class="login-page">
    <div class="background-animation">
        <div class="mesh-blob mesh-1"></div>
        <div class="mesh-blob mesh-2"></div>
        <div class="mesh-blob mesh-3"></div>
        <div class="mesh-blob mesh-4"></div>
        <div class="noise-overlay"></div>
    </div>



    <div class="login-card">
        <h1 class="title">{{ 'login.title' | translate }}</h1>

        <form (submit)="$event.preventDefault(); handleSubmit()" class="form-container">
            <div class="group-input">
                <app-shared-input-text
                    [headerInput]="'login.username.label' | translate"
                    [placeholder]="'login.username.placeholder' | translate"
                    [required]="true"
                    [value]="username()"
                    (valueChange)="username.set($event)"></app-shared-input-text>

                <app-shared-input-text
                    [headerInput]="'login.password.label' | translate"
                    [placeholder]="'login.password.placeholder' | translate"
                    [required]="true"
                    [typeInput]="showPassword() ? 'text' : 'password'"
                    [icon]="showPassword() ? 'assets/icons/eye-off.svg' : 'assets/icons/eye.svg'"
                    (iconClick)="togglePassword()"
                    [value]="password()"
                    (valueChange)="password.set($event)"></app-shared-input-text>
            </div>

            @if (error()) {
            <div class="error-wrapper">
                <app-error-message [message]="error()!"></app-error-message>
            </div>
            }

            <button
                type="submit"
                class="btn-login"
                [class.is-disabled]="checkInputRequired()"
                [disabled]="checkInputRequired()">
                {{ 'login.button' | translate }}
            </button>
        </form>

    </div>
</div>
