<div class="login-page">
    <div class="login-card">
        <h1 class="title">{{ 'login.title' | translate }}</h1>

        <form (submit)="$event.preventDefault(); handleSubmit()" class="form-container">
            <div class="group-input">
                <app-shared-input-text
                    [headerInput]="'login.username.label' | translate"
                    [placeholder]="'login.username.placeholder' | translate"
                    [required]="true"
                    [value]="username()"
                    (valueChange)="username.set($event)"></app-shared-input-text>

                <app-shared-input-text
                    [headerInput]="'login.password.label' | translate"
                    [placeholder]="'login.password.placeholder' | translate"
                    [required]="true"
                    [typeInput]="showPassword() ? 'text' : 'password'"
                    [icon]="showPassword() ? 'assets/icons/eye-off.svg' : 'assets/icons/eye.svg'"
                    (iconClick)="togglePassword()"
                    [value]="password()"
                    (valueChange)="password.set($event)"></app-shared-input-text>
            </div>

            @if (error()) {
            <div class="error-wrapper">
                <app-error-message [message]="error()!"></app-error-message>
            </div>
            }

            <button type="submit" class="btn-login" [disabled]="isLoading()">

                @if (isLoading()) {
                <span class="loading-state">
                    <i class="fas fa-spinner fa-spin"></i>
                    {{ 'login.loading' | translate }}
                </span>
                } @else {
                {{ 'login.button' | translate }}
                }
            </button>
        </form>

    </div>
</div>
