<section class="config-card config-card-right" [formGroup]="form">
    <h2 class="card-title">Thời gian ghi nhận</h2>
    <div class="time-fields">
        <app-shared-input-time label="Thời gian làm việc" [form]="form"
            controlName="workingTime"></app-shared-input-time>
        <app-shared-input-time label="Thời gian tan ca" [form]="form"
            controlName="shiftEndTime"></app-shared-input-time>
        <app-shared-input-time label="Checkout tự động" [form]="form"
            controlName="autoCheckout"></app-shared-input-time>
    </div>
</section>