<div class="web-container">
  <div class="mobile-warning">
    <div class="mobile-warning-content">
      <img src="Home-Page-Mobile.svg" alt="BoPortal Mobile" />
      <h2>BoPortal hiện được tối ưu cho màn hình lớn</h2>
      <p>Vui lòng sử dụng thiết bị có màn hình rộng hơn để thao tác quản trị thuận tiện hơn.</p>
    </div>
  </div>

  <div class="main-layout">

    <div class="layout-body">
      <div class="layout-body-sidebar" [class.mobile-open]="isMobileSidebarOpen" [class.expanded]="isSidebarExpanded">
        <app-sidebar [data]="sidebarData" [isSidebarExpanded]="isSidebarExpanded"
          (sidebarToggled)="onSidebarToggle($event)" [toggleButtonIconData]="toggleButtonIconConfig"
          [closeButtonIconData]="closeButtonIconConfig"></app-sidebar>
      </div>

      <!-- Mobile Sidebar Overlay -->
      @if (isMobileSidebarOpen) {
      <div class="sidebar-overlay" (click)="closeMobileSidebar()" onkeypress=""></div>
      }

      <!-- Content - Scrollable -->
      <div class="layout-body-content">
        <div class="content-wrapper">
          <div class="breadcrumb-container">
            <app-breadcrumb [items]="breadcrumbService.breadcrumbs()"></app-breadcrumb>
          </div>
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</div>