<app-modal-popup [isVisible]="isVisible" (isVisibleChange)="onVisibilityChange($event)" title="Tạo vai trò mới"
  saveText="Tạo" cancelText="Hủy" [okDisabled]="!isValid" (save)="onSave()">
  <div class="dialog-form">
    <app-shared-input-text headerInput="Tên vai trò" placeholder="Nhập tên vai trò" [required]="true" [value]="name"
      (valueChange)="name = $event">
    </app-shared-input-text>
    <app-shared-input-text headerInput="Mô tả" placeholder="Nhập mô tả" [value]="description"
      (valueChange)="description = $event">
    </app-shared-input-text>
  </div>
</app-modal-popup>
