<div class="shared-input-container">
    @if (headerInput) {
    <label class="label-text">
        {{ headerInput }}
        @if (required) {
        <span class="required-mark">*</span>
        }
    </label>
    }

    <div class="input-wrapper">
        <input
            #inputEl
            [type]="typeInput"
            [placeholder]="placeholder"
            [required]="required"
            [ngModel]="value"
            (ngModelChange)="onValueChange($event)"
            (input)="onValueChange($event.target.value)"
            (change)="onValueChange($event.target.value)"
            (animationstart)="onAutofillStart()"
            class="custom-input" />

        @if (icon) {
        <button type="button" class="icon-button" (click)="onIconClick()">
            @if (icon.includes('.')) {
            <img [src]="icon" alt="icon" class="input-icon-img" />
            } @else {
            <i [class]="icon"></i>
            }
        </button>
        }
    </div>
</div>
