<div class="dropdown-container" [style.width]="width" [class.open]="isOpen">
  <div class="dropdown-trigger" (click)="toggle($event)">
    <div class="trigger-left">
      @if (icon) {
        <span class="left-icon" [class]="icon"></span>
      }
      <span class="selected-text" [class.placeholder]="!value && value !== 0" [attr.title]="selectedTooltip">
        {{ selectedDisplayLabel | translate }}
      </span>
    </div>
    <span class="chevron custom-icon-chevron-down" [class.rotated]="isOpen"></span>
  </div>

  @if (isOpen) {
    <div class="dropdown-overlay" [ngStyle]="overlayStyle" [style.visibility]="overlayReady ? 'visible' : 'hidden'">
      @for (opt of options; track opt.value) {
        <div
          class="dropdown-item"
          [class.active]="value === opt.value"
          (click)="selectOption(opt)">
          <div class="item-content">
            @if (opt.icon) {
              <span class="item-icon" [class]="opt.icon"></span>
            }
            <span class="item-label" [attr.title]="getOptionTooltip(opt)">{{ getOptionDisplayLabel(opt) | translate }}</span>
          </div>
          @if (value === opt.value) {
            <span class="check-icon custom-icon-success"></span>
          }
        </div>
      } @empty {
        <div class="no-data-wrapper">
          <app-no-data size="small" message="Kh&#244;ng c&#243; d&#7919; li&#7879;u"></app-no-data>
        </div>
      }
    </div>
  }
</div>
