<div class="sidebar-wrapper" [class.expanded]="isSidebarExpanded"
  [style.--expanded-hover-bg]="data.defaultBackgroundColorHoverExpanded || 'var(--neutral-400)'">
  <div
    [style.background-color]="isSidebarExpanded ? (data.backgroundColor || 'var(--neutral-color-50)') : 'var(--brand-500)'">
    <aside class="sidebar">
      @for (item of data.menuItems; track $index) {
      <div class="sidebar-item-container">
        <a class="sidebar-item" [class.active]="activeItem === item || rla.isActive" routerLinkActive="active"
          #rla="routerLinkActive" [routerLink]="item.url" (click)="onMenuItemClick(item, $event)">
          <div class="sidebar-item-content">
            @if (item.iconLeft) {
            <i [class]="item.iconLeft" class="icon-left"
              [style.color]="isSidebarExpanded ? (item.colorIconLeftExpanded || data.defaultColorIconLeftExpanded || item.colorIconLeft || data.defaultColorIconLeft) : (item.colorIconLeft || data.defaultColorIconLeft)"></i>
            }
            @if (isSidebarExpanded) {
            <span class="label"
              [style.color]="item.colorContentExpanded || data.defaultColorContentExpanded || item.colorContent || data.defaultColorContent">{{
              item.content }}</span>
            }
            @if (isSidebarExpanded && item.children && item.children.length > 0) {
            <i [class]="getRightIcon(item)" class="icon-right" (click)="toggleSubMenu(item, $event)"></i>
            }
          </div>
        </a>

        <!-- ✅ Sub Menu -->
        @if (isItemExpanded(item) && item.children && isSidebarExpanded) {
        <div class="sub-menu">
          @for (child of item.children; track child.content) {
          <a class="sidebar-item sub-item" routerLinkActive="active" #subRla="routerLinkActive"
            [class.active]="activeItem === child || subRla.isActive" [routerLink]="child.url"
            (click)="onMenuItemClick(child, $event)">
            <div class="sidebar-item-content">
              @if (child.iconLeft) {
              <i [class]="child.iconLeft" class="icon-left"
                [style.color]="child.colorIconLeftExpanded || data.defaultColorIconLeftExpanded || child.colorIconLeft || data.defaultColorIconLeft"></i>
              }
              <span class="label"
                [style.color]="child.colorContentExpanded || data.defaultColorContentExpanded || child.colorContent || data.defaultColorContent">{{
                child.content }}</span>
            </div>
          </a>
          }
        </div>
        }
      </div>
      }
    </aside>

    <!--Toggle/Close buttons -->
    <div class="sidebar-actions">
      @if (!isSidebarExpanded) {
      <button class="action-button toggle-button" (click)="toggleSidebar()">
        @if (toggleButtonIconData) {
        <i [class]="toggleButtonIconData"></i>
        } @else {
        <i class="dsi-arrow-right-line"></i>
        }
      </button>
      }

      @if (isSidebarExpanded) {
      <button class="action-button close-button" (click)="toggleSidebar()"
        [style.margin-right]="data.closeButtonMarginRight || '24px'"
        [style.margin-left]="data.closeButtonMarginLeft || 'auto'">
        @if (closeButtonIconData) {
        <i [class]="closeButtonIconData"></i>
        } @else {
        <i class="dsi-arrow-left-line"></i>
        }
      </button>
      }
    </div>
  </div>
</div>