<div class="cards-row">
    <div class="cards-col">
        <app-config-card title="Độ dài tối thiểu" [form]="form()" controlName="minPasswordLength" unit="Kí tự"
            textAlign="center"></app-config-card>
        <app-config-card title="Số kí tự in hoa" [form]="form()" controlName="minUppercaseChars" unit="Kí tự"
            textAlign="center"></app-config-card>
        <app-config-card title="Thời hạn" [form]="form()" controlName="passwordExpiryDays" unit="Ngày"
            textAlign="center"></app-config-card>
    </div>
    <div class="cards-col">
        <app-config-card title="Độ dài tối đa" [form]="form()" controlName="maxPasswordLength" unit="Kí tự"
            textAlign="center"></app-config-card>
        <app-config-card title="Số" [form]="form()" controlName="minNumericChars" unit="Kí tự"
            textAlign="center"></app-config-card>
        <app-config-card title="Số kí tự đặc biệt" [form]="form()" controlName="minSpecialChars" unit="Kí tự"
            textAlign="center"></app-config-card>
    </div>
</div>