<div class="cards-row">
    <div class="cards-col">
        <app-config-card title="Độ dài tối thiểu" [form]="form" controlName="minLength" unit="Kí tự"
            textAlign="center"></app-config-card>
        <app-config-card title="Số kí tự in hoa" [form]="form" controlName="uppercaseCount" unit="Kí tự"
            textAlign="center"></app-config-card>
        <app-config-card title="Thời hạn" [form]="form" controlName="expirationDays" unit="Ngày"
            textAlign="center"></app-config-card>
    </div>
    <div class="cards-col">
        <app-config-card title="Độ dài tối đa" [form]="form" controlName="maxLength" unit="Kí tự"
            textAlign="center"></app-config-card>
        <app-config-card title="Số" [form]="form" controlName="digitCount" unit="Kí tự"
            textAlign="center"></app-config-card>
        <app-config-card title="Số kí tự đặc biệt" [form]="form" controlName="specialCharCount" unit="Kí tự"
            textAlign="center"></app-config-card>
    </div>
</div>