<div class="page-body" [formGroup]="form">


  <!-- Main content -->
  @if (isLoading()) {
    <div class="loading-container central-loader">
       <span nz-icon nzType="loading" class="spinner-icon"></span>
    </div>
  } @else if (isError()) {
    <div class="error-container error-view">
      <app-no-data 
        title="Không tìm thấy cấu hình bảo mật" 
        message="Đã xảy ra lỗi khi tải cấu hình bảo mật hoặc cấu hình hiện không tồn tại.">
        <span icon class="custom-icon-lock security-lock-icon"></span>
        <button action nz-button nzType="primary" class="retry-btn-sec" (click)="ngOnInit()">
          Thử lại
        </button>
      </app-no-data>
    </div>
  } @else {
    <div class="content-wrapper">
      <!-- Row 1: Password Policy -->
      <app-password-policy [form]="form"></app-password-policy>

      <!-- Row 2: Session Security -->
      <app-session-security [form]="form"></app-session-security>

      <!-- Row 3: Account Security -->
      <app-account-security [form]="form"></app-account-security>
    </div>

    <!-- Apply button -->
    <div class="actions">
      <button nz-button nzType="primary" nzSize="large" class="apply-btn" (click)="onSubmit()">
        Áp dụng
      </button>
    </div>
  }

  <app-confirm-popup [(isVisible)]="isConfirmVisible" title="Lưu lại"
    message="Bạn có muốn lưu các thay đổi cấu hình bảo mật?" cancelText="Không" confirmText="Có"
    (confirm)="handleConfirmSave()" (cancel)="handleConfirmCancel()"></app-confirm-popup>
</div>